---
import Main from '../layouts/Main.astro';
const profilePicture = "https://i.imgur.com/JPGFE75.jpg";
import Cards from '../components/Cards.astro';
import {Astro} from "astro/env";


const blogs =await Astro.glob<{
    title: string,
    poster: string,
    subtitle: string,
}>("../pages/blogs/*.md");
---
<!--component template-->


<Main title="Title">
    <div class="profile">
        <img alt="Name"
             width="100px"
             height="100px"
             class="profile__picture"
             src={profilePicture}/>
        <div class="profile__details">
            <h1>Name</h1>
            <h1>Name 3</h1>
            <h2>Name</h2>
            <p>Name</p>
        </div>
    </div>
    <Cards cards={[
        {
            title: "card 1",
            gradientFrom: "#ff9a9e",
            gradientTo: "#ff00ac",
            to: "/philosophies",

        },
        {
            title: "Name",
            gradientFrom: "#0985a8",
            gradientTo: "#ff00ac",
            to: "/beyond-tech",

        },
        {
            title: "Name",
            gradientFrom: "#00a102",
            gradientTo: "#ff00ac",
            to: "/work-summary",

        },

    ]}/>

    <div class="featured-blogs">
        <h3 class="featured-blogs__title">Featured Blogs</h3>
        <p class="featured-blogs__description">
            Opinion pieces that will change eveything you know about web development.
        </p>
    </div>

    <ol>
        {
            blogs.map((blog) => (
                    <li class="blogs__list">
                        <a href={blog.url} class="blog__link">
                            {blog.frontmatter.title}
                        </a>
                    </li>
            ))
        }
    </ol>

</Main>


<!--CSS-->
<style>
    .profile {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem 0 3rem 0;
    }


    .profile__detail {
        flex: 1 0 300px;
    }

    .profile__details > h1 {
        margin-top: 0;
        //color: red;
    }

    .profile__picture {
        border-radius: 50%;
        margin: 0 2rem 1rem 0;
    }

    .featured-blogs {
        margin: 0;
        padding: 3rem 0 0 0;
    }

    .featured-blogs__title {
        font-size: 2rem;
        color: var(--grey-900);
    }

    .featured-blogs__description {
        margin: -1.2rem;
    }

    .blogs {
        font-size: 1rem;
        font-weight: 500;
    }

    .blog__link {
        color: var(--grey-200);
        text-decoration: none;
        color: blue;
        display: block;
        transition: opacity 0.2s ease-in-out;
    }

    .blog__link:hover {
        opacity: 0.8;
    }
</style>